@font-face{
	font-family: "SourceSansPro-regular";
	src: url('Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
	font-family: "SourceSansPro-bold";
	src: url('Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
@font-face{
	font-family: "SourceSansPro-semibold";
	src: url('Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
	font-family: "SourceSansPro-black";
	src: url('Source_Sans_Pro/SourceSansPro-Black.ttf');
}
@font-face{
	font-family: "SourceSansPro-extralight";
	src: url('Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
}

@font-face{
	font-family: "SourceSansPro-semibolditalic";
	src: url('Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf');
}
